<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/Style.css">

</head>
<body>
<div class="container" id="words">
    <div class="row">
        <div class="col-lg-9 col-md-9 mx-auto">
            <a href="/add">Add a Message</a><br/>
            <table>
                <tr>
                    <th>Title</th>
                    <th>Content</th>
                    <th>PostedDate</th>
                    <th>PostedBy</th>
                    <th>Actions</th>
                </tr>
                <tr th:each="message : ${messages}">
                    <td th:text="${message.title}"></td>
                    <td th:text="${message.content}"></td>
                    <td th:text="${message.postedDate}"></td>
                    <td th:text="${message.postedBy}"></td>
                    <td>
                        <a th:href="@{/update/{id}(id=${message.id})}">Update</a> -
                        <a th:href="@{/detail/{id}(id=${message.id})}">Details</a> -
                        <a th:href="@{/delete/{id}(id=${message.id})}">Delete</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>


</body>
</html>